* {
    box-sizing: border-box;
}

:root {
    --text-color-black-gray: #575D5E;
    --Primary-color-black-green: #143C3C;
    --Primary-color-black: #152427;
    --text-color-light-gray: #7D8188;
    --Scondery-color-light-green: #E2EDDF;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    height: 8000px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 173px;
    border-radius: 40px;
    border: 1.5px solid #143C3C;
    background: var(--Primary-color-black-green, #143C3C);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 57px;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2381;
}

.section-desc {
    color: var(--text-color-light-gray);
    font-weight: 500;
    line-height: 1.625;
}

/* =========================Header========================== */
.header {
    font-family: "Public Sans", sans-serif;
    padding: 28px 0px 0px;
    background: #FFF;
    position: sticky;
    top: -13px;
    z-index: 4;
}

.header__row {
    display: flex;
    align-self: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin-left: 406.22px;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar__link {
    padding: 0px 19px;
    color: var(--text-color-black-gray, #575D5E);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
}

.navbar__link:hover {
    text-shadow: 1px 0px 0px currentColor;
}

.header__line-decor {
    margin-top: 13px;
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

/* =========================Hero========================== */
.hero {
    font-family: "Public Sans", sans-serif;
    padding: 60px 0px;
}

.hero__body {
    position: relative;
    display: flex;
    column-gap: 76px;
}

.hero__content {
    margin-top: 43px;
    width: 34.47%;
}

.hero__heading {
    max-width: 368px;
    color: var(--Primary-color-black, #152427);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: var(--text-color-black-gray, #575D5E);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
}

.hero__action {
    margin-top: 42px;
    display: flex;
    column-gap: 36px;
    cursor: pointer;
}

.play-btn {
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.play-btn__icon {
    width: 57px;
    height: 59px;
    position: relative;
}

.play-btn__icon1 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.play-btn__icon2 {
    position: absolute;
    right: 6px;
    bottom: 8px;
}

.play-btn__play {
    color: #152427;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.hero__image {
    display: flex;
    column-gap: 20px;
}

.hero__image-block {
    width: 202px;
    height: 466px;
    border-radius: 999px;
    overflow: hidden;
    z-index: 1;
}

.hero__image-block:nth-child(2) {
    margin-top: 77px;
}

.hero__img {
    width: 100%;
    height: 466px;
    object-fit: cover;
}

.hero__decor1 {
    position: absolute;
    top: -32.07px;
    left: 297px;
    z-index: 2;
}

.hero__decor-flower1 {
    position: absolute;
    top: -24.39px;
    left: 254.61px;
    z-index: 3;
}

.hero__decor2 {
    position: absolute;
    transform: rotate(175.95deg);
    bottom: -66.69px;
    right: 87.64px;
    z-index: 2;
}

.hero__decor-flower2 {
    position: absolute;
    transform: rotate(-187.659deg);
    bottom: -41.45px;
    right: 34.12px;
    z-index: 3;
}

.hero__blur {
    width: 340px;
    height: 340px;
    border-radius: 999px;
    background: #4DBB9A;
    filter: blur(137px);
    position: absolute;
    top: 122px;
    left: 622px;
}

/* =========================Sponsor========================== */
.sponsor {
    margin-top: 70px;
}

.sponsor__row {
    padding: 76px 0px 77px;
    border-radius: 999px;
    background: var(--Scondery-color-light-green, #E2EDDF);
}

.sponsor-list {
    padding: 0px 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsor-list__discord {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.sponsor-list__discord--desc {
    color: #163C35;
    font-size: 2.6rem;
    line-height: normal;
}

/* =========================Service========================== */
.service {
    margin-top: 67px;
    padding: 39px 0px;
}

.service__greet {
    margin-left: 46px;
    position: relative;
    color: var(--Primary-color-black, #152427);
    font-weight: 500;
    line-height: 1.625;
}

.service__greet::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
    position: absolute;
    top: 9px;
    left: -46px;
}

.service-row {
    display: flex;
}

.service-row__heading {
    margin-top: 12px;
    position: relative;
    width: 45.614%;
}

.service-row__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black, #152427);
    position: absolute;
    bottom: 19px;
    right: 103px;
}

.service-action__btn {
    margin-top: 53px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: var(--Primary-color-black, #152427);
    background: var(--Scondery-color-light-green, #E2EDDF);
    transition: 0.25s;
}

.service-action__btn:first-of-type {
    margin-left: 422px;
    margin-right: 12px;
}

.service-action__btn:hover {
    background: var(--Primary-color-black-green, #143C3C);
    color: #FFF;
    cursor: pointer;
}

.service-action__btn-right-icon {
    rotate: 180deg;
}

.service-list {
    margin-top: 76px;
    display: flex;
    column-gap: 16px;
}

.service-item {
    width: 370px;
    height: 477px;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.25s;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transform: scale(1.01);
}

.service-item__img {
    display: block;
    width: 100%;
    height: 318px;
    object-fit: cover;
}

.service-item-body {
    padding: 24px 84px 23px 18px;
    background: #FFF;
}

.service-item-body__title {
    color: var(--Primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
}

.service-item-body__desc {
    margin-top: 18px;
    color: var(--text-color-light-gray, #7D8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71429;
}

/* =========================About========================== */
.about {
    padding: 110px 0px;
}

.about__body {
    display: flex;
    column-gap: 64px;
}

.about-left {
    position: relative;
    padding-top: 13px;
    font-family: "Public Sans";
    width: 51.8421%;
    height: 557px;
    display: flex;
    column-gap: 21px;
}

.about-image {
    width: 284px;
    height: 480px;
    border-radius: 999px;
    overflow: hidden;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-image:first-child {
    margin-top: 77px;
}

.about-image__img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.about-stat {
    position: absolute;
    bottom: -8px;
    right: -9px;
    padding: 19px 23px 11px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-stat__heading {
    color: var(--Primary-color-black, #152427);
    font-size: 1.4rem;
    font-weight: 600;
}

.about-stat__desc {
    margin-top: 6px;
    color: var(--text-color-black-gray, #575D5E);
    font-size: 1rem;
    line-height: 1.4;
}

.about-loading {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.about-loading__num,
.about-loading__load,
.about-stat__row--team {
    color: var(--Primary-color-black, #152427);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-loading__load {
    margin-top: 22px;
}

.about-loading__decor {
    position: absolute;
    top: 17px;
}

.about-stat__icon {
    margin-top: 3px;
}

.about-stat__row {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-stat__row-member {
    display: flex;
    align-items: center;
}

.about-stat__row-member-img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FFF;
}

.about-stat__row-member-img:not(:first-child) {
    margin-left: -6px;
}

.about__decor {
    position: absolute;
    transform: rotate(12.645deg);
    top: 23px;
    right: 0px;
}

.about__decor-flower {
    position: absolute;
    transform: rotate(164.985deg);
    top: -23px;
    right: 468px;
}

.about-info {
    width: 42.544%;
}

.about-info__greet {
    position: relative;
    margin-left: 46px;
    color: var(--Primary-color-black, #152427);
    font-weight: 500;
    line-height: 1.125;
}

.about-info__greet::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
    position: absolute;
    top: 9px;
    left: -46px;
}

.about-info__heading {
    margin-top: 20px;
}

.about-info__desc {
    margin-top: 11px;
}

.about-info-row {
    margin-top: 37px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83A17D;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.about-info-row__strong {
    color: var(--Primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2381;
}

.about-info-row__desc {
    max-width: 364px;
    color: var(--text-color-light-gray, #7D8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71429;
}

/* =========================Process========================== */
.process {
    padding: 36px 0px 48px
}

.process__greet {
    position: relative;
    margin: 0px 0px 20px 52px;
    color: var(--Primary-color-black, #152427);
    font-weight: 500;
    line-height: 1.125;
}

.process__greet::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
    position: absolute;
    top: 9px;
    left: -46px;
}

.process__heading {
    position: relative;
    max-width: 477px;
}

.process__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black, #152427);
    position: absolute;
    bottom: 18px;
    right: -9px;
}

.process-list {
    margin-top: 81px;
}

.process-list__item {
    position: relative;
    height: 185px;
    border-radius: 33px;
    display: flex;
    align-items: center;
    transition: 0.25s;
}

.process-list__item:hover {
    background: var(--Scondery-color-light-green, #E2EDDF);
}

.process-list__num {
    margin-left: 20px;
    color: var(--Primary-color-black-green, #143C3C);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 1.5;
    transition: 0.25s;
}

.process-list__item:hover .process-list__num {
    margin-left: 30px;
    transform: translateY(-8px);
}

.process-list__title {
    position: relative;
    margin-left: 48px;
    color: var(--Primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
    transition: 0.25s;
}

.process-list__item:hover .process-list__title {
    margin-left: 64px;
    transform: translateY(-8px);
}

.process-list__more {
    color: var(--text-color-black-gray, #575D5E);
    font-size: 1.8rem;
    position: absolute;
    opacity: 0;
    transition: 0.25s;
}

.process-list__more--item1 {
    bottom: 52px;
    left: 186px;
    transform: translateX(-26px);
}

.process-list__more--item2 {
    bottom: 52px;
    left: 201px;
    transform: translateX(-26px);
}

.process-list__more--item3 {
    bottom: 52px;
    left: 203px;
    transform: translateX(-26px);
}

.process-list__more:hover {
    text-decoration: underline;
}

.process-list__item:hover .process-list__more {
    opacity: 1;
    transform: translateY(-8px);
}

.process-list__desc {
    margin-left: auto;
    margin-right: 41px;
    transform: translateY(8px);
    max-width: 572px;
    color: var(--text-color-light-gray, #7D8188);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
    transition: 0.25s;
}

.process-list__item:hover .process-list__desc {
    margin-right: 51px;
    transform: translateY(0);
}

.process-list__img {
    position: absolute;
    bottom: -8px;
    right: 92px;
    pointer-events: none;
    transition: 0.25s;
}

.process-list__item:hover .process-list__img {
    bottom: 0;
    transform: translateX(-26px);
}

.process-list__row {
    width: 1074px;
    height: 3px;
    background: linear-gradient(180deg, #83A17D 4.17%, rgba(131, 161, 125, 0.00) 36.46%);
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.25s;
}

.process-list__item:hover .process-list__row {
    opacity: 0;
}

/* =========================Project========================== */
.project {
    margin-top: 100px;
    padding: 116px 0px 63px;
    background: var(--Primary-color-black-green, #143C3C);
}

.project-row {
    display: flex;
    align-items: center;
    column-gap: 93px;
}

.project__heading {
    max-width: 40%;
    position: relative;
    color: #E7F9F9;
}

.project__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--Scondery-color-blue, #83A17D);
    position: absolute;
    bottom: 20px;
    right: 97px;
}

.project-row__info {
    width: 570px;
    font-family: "Public Sans";
}

.project__desc {
    color: var(--Scondery-color-gray, #6A8383);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
}

.project-action {
    margin-top: 13px;
    display: flex;
    align-items: center;
    column-gap: 26px;
}

.project-action__browse {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
}

.project-action:hover .project-action__browse {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.project-image {
    position: relative;
    margin-top: 65px;
}

.project-image__img {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.project-image__play-icon {
    position: absolute;
    top: calc(50% - 59px);
    left: calc(50% - 59px);
}

.project-image__play-icon:hover {
    cursor: pointer;
}

.project-image__decor {
    position: absolute;
    right: -54.3px;
    top: -167px;
}

.project-image__decor-flower {
    transform: rotate(176.985deg);
    position: absolute;
    top: -79px;
    right: -49.72px;
}
